/* line 13, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/base/_reset.scss */
nav ul li {
  display: inline-block;
}
/* line 32, ../scss/base/_reset.scss */
nav ul a {
  text-decoration: none;
}

/* line 38, ../scss/base/_reset.scss */
body {
  line-height: 1.5;
}

/* line 42, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../scss/base/_reset.scss */
html {
  font-size: 20px !important;
}

/* line 1, ../scss/base/_base.scss */
html, body {
  height: 100%;
}

/* line 5, ../scss/base/_base.scss */
#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 1050px !important;
}

/* line 11, ../scss/base/_base.scss */
body {
  font-family: "Roboto", sans-serif !important;
}

/* line 15, ../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif !important;
}

/* line 19, ../scss/base/_base.scss */
.clear {
  clear: both;
}

/* line 23, ../scss/base/_base.scss */
body {
  min-width: 320px;
}

@media screen and (min-width: 992px) {
  /* line 28, ../scss/base/_base.scss */
  #wrapper {
    padding-bottom: 470px !important;
  }
}
/* line 33, ../scss/base/_base.scss */
h2.heading2 {
  padding-bottom: 15px;
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* line 38, ../scss/base/_base.scss */
p, h1, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 1, ../scss/layout/_header.scss */
.headerStyle {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5) !important;
  background-color: white;
  height: 65px;
}

/* line 7, ../scss/layout/_header.scss */
header {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* line 10, ../scss/layout/_header.scss */
header nav {
  font-size: 14px !important;
}
/* line 13, ../scss/layout/_header.scss */
header nav .logo {
  background-color: white;
  padding: 0.5em 0.5em 0em;
}
/* line 16, ../scss/layout/_header.scss */
header nav .logo img {
  width: 4em !important;
}
/* line 23, ../scss/layout/_header.scss */
header nav .navStyle ul li {
  padding: 0.65em 0.505em;
  font-family: "Raleway", sans-serif;
  margin: 0 !important;
  color: #333333;
}
/* line 28, ../scss/layout/_header.scss */
header nav .navStyle ul li i {
  font-size: 1.9em;
  display: block;
  text-align: center;
  color: #333333;
}
/* line 38, ../scss/layout/_header.scss */
header nav .navStyle ul li:active,
header nav .navStyle ul li:focus,
header nav .navStyle ul li:active:focus,
header nav .navStyle ul .currentPage {
  background-color: #333333 !important;
  color: white !important;
}
/* line 41, ../scss/layout/_header.scss */
header nav .navStyle ul li:active i,
header nav .navStyle ul li:focus i,
header nav .navStyle ul li:active:focus i,
header nav .navStyle ul .currentPage i {
  color: white !important;
}

@media screen and (min-width: 992px) {
  /* line 52, ../scss/layout/_header.scss */
  header nav {
    font-size: 20px;
  }
  /* line 56, ../scss/layout/_header.scss */
  header .logo {
    padding: 0.5em;
  }
  /* line 58, ../scss/layout/_header.scss */
  header .logo img {
    width: 200px !important;
  }
  /* line 65, ../scss/layout/_header.scss */
  header .navStyle ul li {
    padding: 0.5em;
  }
  /* line 67, ../scss/layout/_header.scss */
  header .navStyle ul li i {
    font-size: 10em;
  }
}
/* line 1, ../scss/layout/_footer.scss */
.footerStyle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1050px;
  background-color: #191919;
  padding: 0;
  margin-top: 0px;
  color: #7f8c8d;
}
/* line 11, ../scss/layout/_footer.scss */
.footerStyle .formSide, .footerStyle .socialSide, .footerStyle .callSide {
  padding: 0.5em;
  padding-bottom: 0;
}
/* line 14, ../scss/layout/_footer.scss */
.footerStyle .formSide h3, .footerStyle .socialSide h3, .footerStyle .callSide h3 {
  padding: 1em;
}
/* line 20, ../scss/layout/_footer.scss */
.footerStyle .form-group input, .footerStyle .form-group textarea {
  width: 80%;
}
/* line 23, ../scss/layout/_footer.scss */
.footerStyle .form-group i, .footerStyle .form-group input, .footerStyle .form-group textarea {
  display: inline-block;
}
/* line 26, ../scss/layout/_footer.scss */
.footerStyle .form-group i {
  font-size: 1.5em;
}
/* line 29, ../scss/layout/_footer.scss */
.footerStyle .form-group textarea {
  height: 60px;
  margin-left: 1.8em;
  max-width: 80%;
  max-height: 60px;
}
/* line 37, ../scss/layout/_footer.scss */
.footerStyle hr {
  padding: 0 !important;
  width: 100%;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* line 45, ../scss/layout/_footer.scss */
.footerStyle .copyright {
  margin-top: -15px;
  font-size: 0.7em;
}
/* line 50, ../scss/layout/_footer.scss */
.footerStyle .callBtn {
  margin: 0.1em;
  padding: 3px;
  width: 70px;
}
/* line 57, ../scss/layout/_footer.scss */
.footerStyle .socialSide img {
  width: 8em;
}
/* line 61, ../scss/layout/_footer.scss */
.footerStyle .socialSide ul li {
  display: inline-block;
  padding: 0.5em;
}
/* line 64, ../scss/layout/_footer.scss */
.footerStyle .socialSide ul li img {
  width: 3em;
}
/* line 71, ../scss/layout/_footer.scss */
.footerStyle .callSide {
  font-size: 1.3em;
}
/* line 75, ../scss/layout/_footer.scss */
.footerStyle .footerHeader {
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 80, ../scss/layout/_footer.scss */
.footerStyle #submitMessage {
  background-color: #7f8c8d !important;
  color: #191919;
  margin-bottom: 1em;
  width: 7em;
  height: 3em;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 90, ../scss/layout/_footer.scss */
.footerStyle .noMargin {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 1em !important;
}

@media screen and (min-width: 992px) {
  /* line 99, ../scss/layout/_footer.scss */
  .footerStyle {
    height: 470px;
  }
}
/* line 1, ../scss/components/_404page.scss */
.errorPage {
  color: #191919;
  background-color: transparent;
}
/* line 4, ../scss/components/_404page.scss */
.errorPage .backBtn {
  background-color: #191919;
  color: #7f8c8d;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
}

/* line 1, ../scss/components/_presentationPage.scss */
#presentationPage {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #cccccc;
}
/* line 6, ../scss/components/_presentationPage.scss */
#presentationPage .container {
  width: 95%;
  padding-top: 3em;
}
/* line 11, ../scss/components/_presentationPage.scss */
#presentationPage .presentationContainer {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: white;
  padding-bottom: 2em;
}
/* line 19, ../scss/components/_presentationPage.scss */
#presentationPage .presentationContainer p {
  color: #333333;
}
/* line 22, ../scss/components/_presentationPage.scss */
#presentationPage .presentationContainer .container {
  width: 95%;
  background-color: white;
}
/* line 28, ../scss/components/_presentationPage.scss */
#presentationPage .presentationContainer img {
  width: 10em;
}
/* line 31, ../scss/components/_presentationPage.scss */
#presentationPage .presentationContainer p {
  font-size: 1.2em;
  padding: 5px 0px;
}
/* line 37, ../scss/components/_presentationPage.scss */
#presentationPage .servicesContainer {
  background-color: #cccccc;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-bottom: 3em;
}
/* line 43, ../scss/components/_presentationPage.scss */
#presentationPage .servicesContainer h2.heading2 {
  color: #333333;
}
/* line 46, ../scss/components/_presentationPage.scss */
#presentationPage .servicesContainer .servicesComponents {
  padding: 2em 0em;
}
/* line 48, ../scss/components/_presentationPage.scss */
#presentationPage .servicesContainer .servicesComponents .services {
  padding: 0.5em 0em;
}
/* line 50, ../scss/components/_presentationPage.scss */
#presentationPage .servicesContainer .servicesComponents .services img {
  width: 4.5em;
}
/* line 55, ../scss/components/_presentationPage.scss */
#presentationPage .servicesContainer .servicesComponents .services p {
  color: #333333;
  font-size: 1.13em;
  margin-top: 20px;
  margin-left: 4.5em;
}

@media screen and (min-width: 350px) and (max-width: 419.9999px) {
  /* line 72, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services img {
    width: 5em;
  }
  /* line 76, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services p {
    font-size: 1.3em;
    margin-top: 25px;
    margin-left: 4.1em;
  }
}
@media screen and (min-width: 420px) and (max-width: 819.9999px) {
  /* line 93, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services img {
    width: 6em;
  }
  /* line 97, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services p {
    font-size: 1.4em;
    margin-top: 30px;
    margin-left: 4.4em;
  }
  /* line 106, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationContainer .container {
    width: 80%;
  }
}
@media screen and (min-width: 820px) and (max-width: 991.9999px) {
  /* line 119, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services img {
    width: 6.5em;
  }
  /* line 123, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services p {
    font-size: 1.5em;
    margin-top: 35px;
    margin-left: 4.5em;
  }
  /* line 132, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationContainer .container {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  /* line 142, ../scss/components/_presentationPage.scss */
  #presentationPage {
    height: 97vh;
  }
  /* line 145, ../scss/components/_presentationPage.scss */
  #presentationPage .container {
    height: 100%;
  }
  /* line 149, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationContainer .container {
    width: 50%;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1149.9999px) {
  /* line 163, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services img {
    width: 5em;
  }
  /* line 167, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services p {
    font-size: 1.3em;
    margin-top: 25px;
    margin-left: 4.5em;
  }
  /* line 176, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationContainer .container {
    width: 40%;
  }
}
@media screen and (min-width: 1150px) and (max-width: 1249.9999px) {
  /* line 190, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services img {
    width: 6em;
  }
  /* line 194, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services p {
    font-size: 1.4em;
    margin-top: 30px;
    margin-left: 5em;
  }
  /* line 203, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationContainer .container {
    width: 33.3333%;
  }
}
@media screen and (min-width: 1250px) {
  /* line 215, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services {
    padding: 1em 0em;
  }
  /* line 217, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services img {
    width: 7em;
  }
  /* line 221, ../scss/components/_presentationPage.scss */
  #presentationPage .servicesContainer .servicesComponents .services p {
    font-size: 1.5em;
    margin-top: 35px;
    margin-left: 5em;
  }
  /* line 230, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationContainer .container {
    width: 33.3333%;
  }
}
/* line 1, ../scss/components/_portofolioPage.scss */
#portofolioPage {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: white;
}
/* line 6, ../scss/components/_portofolioPage.scss */
#portofolioPage .container {
  width: 95%;
  padding-top: 3em;
}
/* line 10, ../scss/components/_portofolioPage.scss */
#portofolioPage h2 {
  color: #333333;
}
/* line 14, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioContainer {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100%;
}
/* line 21, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioContainer .portofolioComponents {
  padding: 2em 0em;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
/* line 27, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioContainer .portofolioComponents img {
  width: 98% !important;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}
/* line 33, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioContainer .portofolioComponents a.portofolioBtn {
  display: block;
  margin: 20px auto;
  margin-bottom: 2em;
  width: 47.5% !important;
  height: 50px;
  line-height: 50px;
  border: none;
  font-size: 1.5em;
  background-color: #191919;
  color: #7f8c8d;
  font-weight: lighter;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}
/* line 49, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioContainer .portofolioComponents a.portofolioBtn:hover {
  transform: scale(0.97, 0.97);
  transition: 0.6s;
}
/* line 56, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioContainer .portofolioComponents .portofolioHover img {
  opacity: 0.8;
}

/* line 66, ../scss/components/_portofolioPage.scss */
.portofolioHover {
  position: relative;
}

/* line 70, ../scss/components/_portofolioPage.scss */
.image {
  opacity: 0.3;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* line 78, ../scss/components/_portofolioPage.scss */
.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 89%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* line 89, ../scss/components/_portofolioPage.scss */
.portofolioHover:hover .image {
  opacity: 0.3;
}

/* line 93, ../scss/components/_portofolioPage.scss */
.portofolioHover:hover .overlay {
  opacity: 1;
}

/* line 97, ../scss/components/_portofolioPage.scss */
.overlayContent {
  background-color: #191919;
  opacity: 0.8;
  color: #7f8c8d;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em;
}
/* line 104, ../scss/components/_portofolioPage.scss */
.overlayContent a {
  text-decoration: none;
  color: #7f8c8d;
}
/* line 108, ../scss/components/_portofolioPage.scss */
.overlayContent a:hover {
  color: white;
}

@media screen and (min-width: 992px) {
  /* line 114, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 97vh;
  }
  /* line 117, ../scss/components/_portofolioPage.scss */
  #portofolioPage .container {
    height: 100%;
  }

  /* line 121, ../scss/components/_portofolioPage.scss */
  .overlayContent {
    font-size: 2em !important;
  }
}
/* line 1, ../scss/components/_aboutPage.scss */
#aboutPage {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #cccccc;
}
/* line 6, ../scss/components/_aboutPage.scss */
#aboutPage .container {
  width: 95%;
  padding-top: 3em;
}
/* line 10, ../scss/components/_aboutPage.scss */
#aboutPage h2 {
  color: #333333;
}
/* line 14, ../scss/components/_aboutPage.scss */
#aboutPage .aboutContainer {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100%;
}
/* line 21, ../scss/components/_aboutPage.scss */
#aboutPage .aboutContainer .aboutComponents .teamMember {
  line-height: 1.6em;
  margin: 2em 0em;
}
/* line 24, ../scss/components/_aboutPage.scss */
#aboutPage .aboutContainer .aboutComponents .teamMember img {
  width: 60%;
}
/* line 27, ../scss/components/_aboutPage.scss */
#aboutPage .aboutContainer .aboutComponents .teamMember h3 {
  color: #333333;
  padding: 8px 0px;
}
/* line 31, ../scss/components/_aboutPage.scss */
#aboutPage .aboutContainer .aboutComponents .teamMember h4 {
  color: #333333;
}
/* line 34, ../scss/components/_aboutPage.scss */
#aboutPage .aboutContainer .aboutComponents .teamMember p {
  color: #333333;
  padding: 15px 0px;
  font-size: 1.3em;
}

@media screen and (min-width: 992px) {
  /* line 47, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 97vh;
  }
  /* line 50, ../scss/components/_aboutPage.scss */
  #aboutPage .container {
    height: 100%;
  }
}
/* line 1, ../scss/components/_contactPage.scss */
#contactPage {
  margin-bottom: -10px;
}
/* line 3, ../scss/components/_contactPage.scss */
#contactPage .contactJumbotron {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 65vh;
}
/* line 8, ../scss/components/_contactPage.scss */
#contactPage .contactJumbotron #map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/* line 16, ../scss/components/_contactPage.scss */
.i4ewOd-pzNkMb-haAclf {
  background-color: #191919;
}

@media screen and (min-width: 992px) {
  /* line 21, ../scss/components/_contactPage.scss */
  #contactPage {
    margin-bottom: -30px !important;
  }
  /* line 23, ../scss/components/_contactPage.scss */
  #contactPage .contactJumbotron {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 85vh;
  }
}
