/* line 13, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/base/_reset.scss */
nav ul li {
  display: inline-block;
}
/* line 32, ../scss/base/_reset.scss */
nav ul a {
  text-decoration: none;
}

/* line 38, ../scss/base/_reset.scss */
body {
  line-height: 1.5;
}

/* line 42, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../scss/base/_reset.scss */
html {
  font-size: 20px !important;
}

/* line 1, ../scss/base/_base.scss */
html, body {
  height: 100%;
}

/* line 5, ../scss/base/_base.scss */
#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 1050px !important;
}

/* line 11, ../scss/base/_base.scss */
body {
  font-family: "Roboto", sans-serif !important;
}

/* line 15, ../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif !important;
}

/* line 19, ../scss/base/_base.scss */
.clear {
  clear: both;
}

/* line 23, ../scss/base/_base.scss */
body {
  min-width: 320px;
}

@media screen and (min-width: 992px) {
  /* line 28, ../scss/base/_base.scss */
  #wrapper {
    padding-bottom: 470px !important;
  }
}
/* line 1, ../scss/layout/_header.scss */
.headerStyle {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5) !important;
  background-color: #fff;
}

/* line 6, ../scss/layout/_header.scss */
header {
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* line 9, ../scss/layout/_header.scss */
header nav {
  font-size: 14px !important;
}
/* line 12, ../scss/layout/_header.scss */
header nav .logo {
  background-color: #eee;
  padding: 0.25em;
  padding-top: 0.9em;
  padding-bottom: 0.3em;
}
/* line 17, ../scss/layout/_header.scss */
header nav .logo img {
  width: 4em !important;
}
/* line 24, ../scss/layout/_header.scss */
header nav .navStyle ul li {
  padding: 0.5em;
  font-family: "Raleway", sans-serif;
  margin: 0 !important;
}
/* line 28, ../scss/layout/_header.scss */
header nav .navStyle ul li i {
  font-size: 2em;
  display: block;
  text-align: center;
}
/* line 37, ../scss/layout/_header.scss */
header nav .navStyle ul li:active,
header nav .navStyle ul li:focus,
header nav .navStyle ul li:active:focus,
header nav .navStyle ul .currentPage {
  background-color: #333 !important;
  color: white !important;
}

@media screen and (min-width: 992px) {
  /* line 48, ../scss/layout/_header.scss */
  header nav {
    font-size: 20px;
  }
  /* line 52, ../scss/layout/_header.scss */
  header .logo {
    padding: 0.5em;
  }
  /* line 54, ../scss/layout/_header.scss */
  header .logo img {
    width: 200px !important;
  }
  /* line 61, ../scss/layout/_header.scss */
  header .navStyle ul li {
    padding: 0.5em;
  }
  /* line 63, ../scss/layout/_header.scss */
  header .navStyle ul li i {
    font-size: 10em;
  }
}
/* line 1, ../scss/layout/_footer.scss */
.footerStyle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1050px;
  background-color: #191919;
  padding: 0;
  margin-top: 0px;
  color: #7f8c8d;
}
/* line 11, ../scss/layout/_footer.scss */
.footerStyle .formSide, .footerStyle .socialSide, .footerStyle .callSide {
  padding: 0.5em;
  padding-bottom: 0;
}
/* line 14, ../scss/layout/_footer.scss */
.footerStyle .formSide h3, .footerStyle .socialSide h3, .footerStyle .callSide h3 {
  padding: 1em;
}
/* line 20, ../scss/layout/_footer.scss */
.footerStyle .form-group input, .footerStyle .form-group textarea {
  width: 80%;
}
/* line 23, ../scss/layout/_footer.scss */
.footerStyle .form-group i, .footerStyle .form-group input, .footerStyle .form-group textarea {
  display: inline-block;
}
/* line 26, ../scss/layout/_footer.scss */
.footerStyle .form-group i {
  font-size: 1.5em;
}
/* line 29, ../scss/layout/_footer.scss */
.footerStyle .form-group textarea {
  height: 60px;
  margin-left: 1.8em;
  max-width: 80%;
  max-height: 60px;
}
/* line 37, ../scss/layout/_footer.scss */
.footerStyle hr {
  padding: 0 !important;
  width: 100%;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* line 45, ../scss/layout/_footer.scss */
.footerStyle .copyright {
  margin-top: -15px;
  font-size: 0.7em;
}
/* line 50, ../scss/layout/_footer.scss */
.footerStyle .callBtn {
  margin: 0.1em;
  padding: 3px;
  width: 70px;
}
/* line 57, ../scss/layout/_footer.scss */
.footerStyle .socialSide img {
  width: 8em;
}
/* line 61, ../scss/layout/_footer.scss */
.footerStyle .socialSide ul li {
  display: inline-block;
  padding: 0.5em;
}
/* line 64, ../scss/layout/_footer.scss */
.footerStyle .socialSide ul li img {
  width: 3em;
}
/* line 71, ../scss/layout/_footer.scss */
.footerStyle .callSide {
  font-size: 1.3em;
}
/* line 75, ../scss/layout/_footer.scss */
.footerStyle .footerHeader {
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 80, ../scss/layout/_footer.scss */
.footerStyle #submitMessage {
  background-color: #7f8c8d !important;
  color: #191919;
  margin-bottom: 1em;
  width: 7em;
  height: 3em;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 90, ../scss/layout/_footer.scss */
.footerStyle .noMargin {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 1em !important;
}

@media screen and (min-width: 992px) {
  /* line 99, ../scss/layout/_footer.scss */
  .footerStyle {
    height: 470px;
  }
}
/* line 1, ../scss/components/_404page.scss */
.errorPage {
  color: #191919;
  background-color: transparent;
}
/* line 4, ../scss/components/_404page.scss */
.errorPage .backBtn {
  background-color: #191919;
  color: #7f8c8d;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
}

/* line 1, ../scss/components/_presentationPage.scss */
#presentationPage {
  margin-bottom: -30px !important;
}
/* line 3, ../scss/components/_presentationPage.scss */
#presentationPage h2 {
  margin-bottom: 1em;
}
/* line 6, ../scss/components/_presentationPage.scss */
#presentationPage .presentationJumbotron {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 0;
}
/* line 12, ../scss/components/_presentationPage.scss */
#presentationPage .presentationJumbotron p {
  font-size: 15px !important;
  padding: 5px;
}
/* line 18, ../scss/components/_presentationPage.scss */
#presentationPage .offerJumbotron {
  background-color: #ccc;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 70vh;
}
/* line 25, ../scss/components/_presentationPage.scss */
#presentationPage .offerJumbotron ul.offerList {
  margin: 0 auto;
  width: 90%;
  text-align: justify;
}
/* line 29, ../scss/components/_presentationPage.scss */
#presentationPage .offerJumbotron ul.offerList li {
  width: 33% !important;
  display: inline-block !important;
  padding: 1.5em;
}
/* line 33, ../scss/components/_presentationPage.scss */
#presentationPage .offerJumbotron ul.offerList li img {
  width: 7em;
  display: inline-block;
}
/* line 38, ../scss/components/_presentationPage.scss */
#presentationPage .offerJumbotron ul.offerList li p {
  display: inline-block;
  margin-top: 40px;
  margin-left: 0.5em;
}

@media screen and (min-width: 992px) {
  /* line 50, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationJumbotron {
    height: 23.8vh;
  }
  /* line 52, ../scss/components/_presentationPage.scss */
  #presentationPage .presentationJumbotron p {
    font-size: 15px !important;
    padding: 5px;
  }
}
@media screen and (max-width: 1489.99999px) and (min-width: 1233px) {
  /* line 81, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 95%;
  }
  /* line 83, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    width: 33% !important;
    padding: 1em;
  }
  /* line 86, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 6em;
  }
  /* line 89, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1232.9999px) and (min-width: 1104px) {
  /* line 104, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 98%;
  }
  /* line 106, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    width: 33% !important;
    padding: 0.7em;
  }
  /* line 109, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5.8em;
  }
  /* line 113, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 30px;
    font-size: 1.4em;
  }
}
@media screen and (max-width: 1103.9999px) and (min-width: 997px) {
  /* line 129, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 100%;
  }
  /* line 131, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    margin: 0 auto !important;
    width: 33% !important;
    padding: 0.6em;
  }
  /* line 135, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5.3em;
  }
  /* line 138, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 30px;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 996.9999px) and (min-width: 933px) {
  /* line 154, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 100%;
  }
  /* line 156, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    margin: 0 auto !important;
    width: 33% !important;
    padding: 0.6em;
  }
  /* line 160, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5.1em;
  }
  /* line 163, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 30px;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 932.9999px) and (min-width: 783px) {
  /* line 179, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 95%;
  }
  /* line 181, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    margin: 0 auto !important;
    width: 48% !important;
    padding: 0.7em;
  }
  /* line 185, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5.8em;
  }
  /* line 188, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 30px;
    font-size: 1.4em;
  }
}
@media screen and (max-width: 782.9999px) and (min-width: 664px) {
  /* line 204, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 95%;
  }
  /* line 206, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    margin: 0 auto !important;
    width: 49% !important;
    padding: 0.5em;
  }
  /* line 210, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5.4em;
  }
  /* line 213, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 20px;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 663.9999px) and (min-width: 594px) {
  /* line 229, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 98%;
  }
  /* line 231, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    margin: 0 auto !important;
    width: 49% !important;
    padding: 0.5em;
  }
  /* line 235, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5em;
  }
  /* line 238, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 20px;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 593.9999px) and (min-width: 419px) {
  /* line 254, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 80%;
  }
  /* line 256, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    margin: 0 auto !important;
    width: 100% !important;
    padding: 0.7em;
  }
  /* line 260, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5.5em;
  }
  /* line 263, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 20px;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 418.9999px) {
  /* line 278, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList {
    width: 96%;
  }
  /* line 280, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li {
    margin: 0 auto !important;
    width: 100% !important;
    padding: 0.5em;
  }
  /* line 284, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li img {
    width: 5.2em;
  }
  /* line 287, ../scss/components/_presentationPage.scss */
  #presentationPage .offerJumbotron ul.offerList li p {
    margin-top: 20px;
    font-size: 1.2em;
  }
}
/* line 1, ../scss/components/_portofolioPage.scss */
#portofolioPage {
  min-height: fit-content  !important;
  height: 1700px;
  margin-bottom: -35px !important;
}
/* line 5, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioJumbotron {
  min-height: 100%;
  height: 100%;
}
/* line 9, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioJumbotron .portofolioComponents {
  padding: 3em 0em 0em;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
/* line 15, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioJumbotron .portofolioComponents img {
  width: 90% !important;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}
/* line 20, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioJumbotron .portofolioComponents a.portofolioBtn {
  display: block;
  margin: 10px auto;
  width: 45% !important;
  height: 40px;
  line-height: 40px;
  border: none;
  font-size: 1.5em;
  background-color: #191919;
  color: #7f8c8d;
  font-weight: lighter;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}
/* line 35, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioJumbotron .portofolioComponents a.portofolioBtn:hover {
  transform: scale(0.97, 0.97);
  transition: 0.6s;
}
/* line 42, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioJumbotron .portofolioComponents .portofolioHover img {
  opacity: 0.8;
}
/* line 47, ../scss/components/_portofolioPage.scss */
#portofolioPage .portofolioJumbotron .portofolioComponents #listImgDiv, #portofolioPage .portofolioJumbotron .portofolioComponents #listGifDiv {
  margin-bottom: 2em !important;
}

/* line 57, ../scss/components/_portofolioPage.scss */
.portofolioHover {
  position: relative;
}

/* line 61, ../scss/components/_portofolioPage.scss */
.image {
  opacity: 0.3;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* line 69, ../scss/components/_portofolioPage.scss */
.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 87%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* line 80, ../scss/components/_portofolioPage.scss */
.portofolioHover:hover .image {
  opacity: 0.3;
}

/* line 84, ../scss/components/_portofolioPage.scss */
.portofolioHover:hover .overlay {
  opacity: 1;
}

/* line 88, ../scss/components/_portofolioPage.scss */
.overlayContent {
  background-color: #191919;
  opacity: 0.8;
  color: #7f8c8d;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em;
}
/* line 95, ../scss/components/_portofolioPage.scss */
.overlayContent a {
  text-decoration: none;
  color: #7f8c8d;
}
/* line 99, ../scss/components/_portofolioPage.scss */
.overlayContent a:hover {
  color: white;
}

@media screen and (max-width: 379.9999px) {
  /* line 105, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 770px;
  }
}
@media screen and (min-width: 380px) and (max-width: 439.9999px) {
  /* line 112, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 860px;
  }
}
@media screen and (min-width: 440px) and (max-width: 499.9999px) {
  /* line 119, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 950px;
  }
}
@media screen and (min-width: 500px) and (max-width: 569.9999px) {
  /* line 126, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 1050px;
  }
}
@media screen and (min-width: 570px) and (max-width: 629.9999px) {
  /* line 133, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 1150px;
  }
}
@media screen and (min-width: 630px) and (max-width: 699.9999px) {
  /* line 140, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 1250px;
  }
}
@media screen and (min-width: 700px) and (max-width: 769.9999px) {
  /* line 147, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 1370px;
  }
}
@media screen and (min-width: 770px) and (max-width: 839.9999px) {
  /* line 154, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 1480px;
  }
}
@media screen and (min-width: 840px) and (max-width: 900px) {
  /* line 161, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    height: 1580px;
  }
}
@media screen and (min-width: 992px) {
  /* line 169, ../scss/components/_portofolioPage.scss */
  #portofolioPage {
    margin-bottom: -30px !important;
    height: 93.8vh;
  }
  /* line 172, ../scss/components/_portofolioPage.scss */
  #portofolioPage .portofolioJumbotron {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }

  /* line 180, ../scss/components/_portofolioPage.scss */
  .overlayContent {
    font-size: 2em !important;
  }
}
/* line 1, ../scss/components/_aboutPage.scss */
#aboutPage {
  min-height: fit-content;
  height: 1175px;
}
/* line 6, ../scss/components/_aboutPage.scss */
#aboutPage .aboutJumbotron {
  min-height: 50%;
  height: 50%;
}
/* line 9, ../scss/components/_aboutPage.scss */
#aboutPage .aboutJumbotron img {
  width: 60%;
}
/* line 13, ../scss/components/_aboutPage.scss */
#aboutPage #aboutVlad {
  background-color: #aaa;
  margin-bottom: 0px !important;
}
/* line 17, ../scss/components/_aboutPage.scss */
#aboutPage #aboutAndreea {
  background-color: #bbb;
  margin-bottom: 0px !important;
}

@media screen and (min-width: 535px) and (max-width: 580.9999px) {
  /* line 26, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1200px;
  }
}
@media screen and (min-width: 581px) and (max-width: 640.9999px) {
  /* line 33, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1245px;
  }
}
@media screen and (min-width: 641px) and (max-width: 680.9999px) {
  /* line 40, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1285px;
  }
}
@media screen and (min-width: 681px) and (max-width: 740.9999px) {
  /* line 47, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1330px;
  }
}
@media screen and (min-width: 741px) and (max-width: 767.9999px) {
  /* line 54, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1375px;
  }
}
@media screen and (min-width: 768px) and (max-width: 840.9999px) {
  /* line 61, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1475px;
  }
}
@media screen and (min-width: 841px) and (max-width: 890.9999px) {
  /* line 68, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1535px;
  }
}
@media screen and (min-width: 841px) and (max-width: 890.9999px) {
  /* line 75, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1535px;
  }
}
@media screen and (min-width: 891px) and (max-width: 940.9999px) {
  /* line 82, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1595px;
  }
}
@media screen and (min-width: 941px) and (max-width: 991.9999px) {
  /* line 89, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 1655px;
  }
}
@media screen and (min-width: 992px) {
  /* line 97, ../scss/components/_aboutPage.scss */
  #aboutPage {
    height: 93.8vh;
  }
  /* line 100, ../scss/components/_aboutPage.scss */
  #aboutPage .aboutJumbotron {
    height: 93.8vh;
    margin-bottom: 0px !important;
  }
}
/* line 1, ../scss/components/_contactPage.scss */
#contactPage {
  margin-bottom: -10px;
}
/* line 3, ../scss/components/_contactPage.scss */
#contactPage .contactJumbotron {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 65vh;
}
/* line 8, ../scss/components/_contactPage.scss */
#contactPage .contactJumbotron #map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/* line 18, ../scss/components/_contactPage.scss */
.i4ewOd-pzNkMb-haAclf {
  background-color: #191919;
}

@media screen and (min-width: 992px) {
  /* line 23, ../scss/components/_contactPage.scss */
  #contactPage {
    margin-bottom: -30px !important;
  }
  /* line 25, ../scss/components/_contactPage.scss */
  #contactPage .contactJumbotron {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 85vh;
  }
}
