
  .footerStyle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $footer-color;
    .form-group {
      input, textarea {
        width: 70%;
      }
      i, input, textarea {
        display: inline-block;
      }
      i {
        font-size: 1.5em;
      } 
      textarea{
        margin-left: 1.8em;
      }     
    }
  }
