#aboutPage {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: $even-background;
  .container {
    width: 95%;
    padding-top: 3em;
  }
  h2 {
    color: $even-text;
  }

  .aboutContainer {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: $even-background;

    .aboutComponents {
      .teamMember {
        line-height: 1.6em;
        margin: 2em 0em;
        img {
          width: 60%;
        }
        h3 {
          color: $even-text;
          padding: 8px 0px;
        }
        h4 {
          color: $even-text;
        }
        p {
          color: $even-text;
          padding: 15px 0px;
          font-size: 1.3em;
        }
      }
    }
   
  } 
}


@media screen and (min-width: 992px) {
  #aboutPage {
    height: 97vh;

    .container {
      height: 100%;
    }
  }
}
