
#contactPage {
  margin-top: 60px;
  .contactJumbotron {
    #map {
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 992px) {
  #contactPage {
    margin: 0px !important;
    margin-bottom: $jumbotrons-margin-bottom !important;
    .contactJumbotron {
      height: 85vh;
      
    }
  }
}
