#contactPage {
  margin-top: 60px;
}

@media screen and (min-width: 992px) {
  #contactPage {
    margin: 0px !important;
    margin-bottom: $jumbotrons-margin-bottom !important;
    .contactJumbotron {
      height: 93.8vh;
      
    }
  }
}
