#contactPage {
   margin-bottom: -10px;
  .contactJumbotron {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 65vh;
    #map {
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.i4ewOd-pzNkMb-haAclf {
  background-color: #191919;
}

@media screen and (min-width: 992px) {
  #contactPage {
    margin-bottom: $jumbotrons-margin-bottom !important;
    .contactJumbotron {
      min-height: -webkit-fit-content;
      min-height: -moz-fit-content;
      min-height: fit-content;
      height: 85vh;
      
    }
  }
}

