#portofolioPage {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: $odd-background;
  .container {
    width: 95%;
    padding-top: 3em;
  }
  h2 {
    color: $odd-text;
  }

  .portofolioContainer {
    min-height: 100%;
    height: 100%;

   
    .portofolioComponents {
      padding: 2em 0em;
      min-height: -webkit-fit-content;
      min-height: -moz-fit-content;
      min-height: fit-content;
      
      img {
        width: 98% !important;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
      }

      a.portofolioBtn {
        display: block;
        margin: 20px auto;
        margin-bottom: 2em;
        width: 47.5% !important;
        height: 50px;
        line-height: 50px;
        border: none;
        font-size: 1.5em;
        background-color: $footer-color;
        color: $footer-highlight;
        font-weight: lighter;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
      }

      a.portofolioBtn:hover {
        transform: scale(0.97,0.97);
        transition: 0.6s;
      }


      .portofolioHover {
        img {
          opacity: 0.8;
        }
      } 
      
    }
  }
  
}

.portofolioHover {
  position: relative;
}

.image {
  opacity: 0.3;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 89%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.portofolioHover:hover .image {
  opacity: 0.3;
}

.portofolioHover:hover .overlay {
  opacity: 1;
}

.overlayContent {
  background-color: $footer-color;
  opacity: 0.8;
  color: $footer-highlight;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em;
  a {
    text-decoration: none;
    color: $footer-highlight;
  }
  a:hover {
    color: white;
  }
}




@media screen and (min-width: 992px) {
  #portofolioPage {
    //margin-bottom: $jumbotrons-margin-bottom !important;
    height: 97vh;
    .container {
      height: 100%;
    }
    
  }

  .overlayContent {
    font-size: 2em !important;
  }
}
