#portofolioPage {
  margin-top: 60px;
}

@media screen and (min-width: 992px) {
  #portofolioPage {
    margin: 0px !important;
    margin-bottom: $jumbotrons-margin-bottom !important;
    .portofolioJumbotron {
      height: 100vh;
    }
  }
}
