#presentationPage {
  margin-top: 60px;
  h2 {
    margin-bottom: 1em;
  }
  .presentationJumbotron {
    margin: 0;
    p {
      font-size: 15px !important;
      padding: 5px;
    }
  }

  .offerJumbotron {
    margin: 0;
    background-color: #ccc;
    height: 800px;

    .offerComponent {
      width: 90%;
      margin: 0 auto;
      padding: 0.5em;
      img {
        width: 4em;
        
      }
      p {
        margin-top: 13px !important;
        margin-left: 3em;
      }
    } 
  }
}

@media screen and (min-width: 992px) {
  #presentationPage {
    .presentationJumbotron {
      height: 43.8vh;
      p {
        font-size: 15px !important;
        padding: 5px;
      }
    }

    .offerJumbotron {
      height: 50vh;
      img {
        width: 5em;
      }
      
    }
  }
}
