#presentationPage {
  margin-top: 60px;
  margin-bottom: $jumbotrons-margin-bottom !important;
  h2 {
    margin-bottom: 1em;
  }
  .presentationJumbotron {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;

    margin: 0;
    p {
      font-size: 15px !important;
      padding: 5px;
    }
  }

  .offerJumbotron {
    background-color: #ccc;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 70vh;
    
    ul.offerList {
      margin: 0 auto;
      width: 90%;
      text-align: justify;
      li {
        width: 33% !important;
        display: inline-block !important;
        padding: 2.5em;
        img {
          width: 7em;
          display: inline-block;
          
        }
        p {
          display: inline-block;
          margin-top: 40px;
          margin-left: 0.5em;
        }
      } 
    }
  }
}

@media screen and (min-width: 992px) {
  #presentationPage {
    .presentationJumbotron {
      height: 23.8vh;
      p {
        font-size: 15px !important;
        padding: 5px;
      }
    }

    // .offerJumbotron {
    //   height: 70vh;
    //   .offerComponent {
    //     width: 100% !important;
    //     img {
    //       width: 6em !important;
    //     }
    //     p {
    //       margin-top: 30px !important;
    //       margin-left: 5em;
    //       font-size: 130%;
    //     }
    //   }
    // }
  } 
}

@media screen and (max-width: 1489.99999px)
and (min-width: 1322px) {
  #presentationPage {

    .offerJumbotron {
      
      ul.offerList {
        width: 95%;
        li {
          width: 33% !important;
          padding: 1.5em;
          img {
            width: 6em;
          }
          p {
            margin-top: 30px;
          }
        } 
      }
    }
  }
}

@media screen and (max-width: 1321.9999px)
and (min-width: 955px) {
  #presentationPage {

    .offerJumbotron {
      
      ul.offerList {
        width: 90%;
        li {
          width: 45% !important;
          padding: 1.5em 1em;
          img {
            width: 6em;
            
          }
          p {
            margin-top: 30px;
          }
        } 
      }
    }
  }
}

@media screen and (max-width: 954.9999px)
and (min-width: 773px) {
  #presentationPage {

    .offerJumbotron {
      
      ul.offerList {
        width: 50%;
        li {
          margin: 0 auto !important;
          width: 100% !important;
          padding: 1.5em 1em;
          img {
            width: 6em;
          }
          p {
            margin-top: 30px;
          }
        } 
      }
    }
  }
}

@media screen and (max-width: 772.9999px)
and (min-width: 553px) {
  #presentationPage {

    .offerJumbotron {
      
      ul.offerList {
        width: 70%;
        li {
          margin: 0 auto !important;
          width: 100% !important;
          padding: 1.5em 1em;
          img {
            width: 6em;
          }
          p {
            margin-top: 30px;
          }
        } 
      }
    }
  }
}

@media screen and (max-width: 552.9999px)
and (min-width: 430px) {
  #presentationPage {

    .offerJumbotron {
      
      ul.offerList {
        width: 90%;
        li {
          margin: 0 auto !important;
          width: 100% !important;
          padding: 1.5em 1em;
          img {
            width: 6em;
          }
          p {
            margin-top: 30px;
          }
        } 
      }
    }
  }
}

@media screen and (max-width: 429.9999px)
and (min-width: 393px) {
  #presentationPage {

    .offerJumbotron {
      
      ul.offerList {
        width: 95%;
        li {
          margin: 0 auto !important;
          width: 100% !important;
          padding: 1.5em 1em;
          img {
            width: 5em;
          }
          p {
            margin-top: 20px;
            font-size: 1.5em;
          }
        } 
      }
    }
  }
}

@media screen and (max-width: 392.9999px) {
  #presentationPage {

    .offerJumbotron {
      
      ul.offerList {
        width: 98%;
        li {
          margin: 0 auto !important;
          width: 100% !important;
          padding: 1em 0.5em;
          img {
            width: 4.7em;
          }
          p {
            margin-top: 20px;
            font-size: 1.25em;
          }
        } 
      }
    }
  }
}