#presentationPage {
  margin-top: 60px;
  h2 {
    margin-bottom: 1em;
  }
  .presentationJumbotron {
    margin: 0;
    p {
      font-size: 15px !important;
      padding: 5px;
    }
  }

  .offerJumbotron {
    margin: 0;
    background-color: #ccc;
    height: 1200px;

    .offerComponent {
      width: 90%;
      margin: 0 auto;
      padding: 0.5em;
      img {
        width: 4em;
        
      }
      p {
        margin-top: 13px !important;
        margin-left: 3em;
        font-weight: normal;
      }
    } 
  }
}

@media screen and (min-width: 992px) {
  #presentationPage {
    .presentationJumbotron {
      height: 23.8vh;
      p {
        font-size: 15px !important;
        padding: 5px;
      }
    }

    .offerJumbotron {
      height: 70vh;
      .offerComponent {
        width: 100% !important;
        img {
          width: 6em !important;
        }
        p {
          margin-top: 30px !important;
          margin-left: 5em;
          font-size: 130%;
        }
      }
    }
  } 
}

@media screen and (min-width: 1450px) {
  #presentationPage {
    .offerJumbotron {
      .offerComponent {
        img {
          margin-left: 4em;
        }
        p {
          margin-left: 8em !important;
        }
      }
    }
  }
}