html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: $footer-height-mobile !important;
}

body {
	font-family: $roboto !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $raleway !important;
}

.clear {
	clear: both;
}

body {
	min-width: 320px;
}

@media screen and (min-width: 992px) {
  #wrapper {
    padding-bottom: $footer-height-desktop !important;
  }
}

h2.heading2 {
	//font-weight: bold;
	padding-bottom: 15px;
	box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
p, h1, h3, h4, h5, h6 {
	font-weight: normal;
}

