html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: $footer-height !important;
}

body {
	font-family: $roboto !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $raleway !important;
}

.clear {
	clear: both;
}