$primary-color: #000;
$footer-height-mobile: 985px;
$footer-height-desktop: 470px;
$footer-color: #191919;
$footer-highlight: #7F8C8D;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$jumbotrons-margin-bottom: -30px;